html, body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
a {
  color: black;
  font-size: 125%;
  text-decoration: none;
}
a:visited {
  color: black;
}
#subscribe a, #subscribe a:visited {
  color: blue;
}
.notes, .notes:visited, .video, .video:visited {
  color: green;
}
li {
  margin: 1em 0;
}
h1 {
  color:  #ff6666;
  margin-top: 0;
}
h2 {
  color: #ff1a1a;
  font-family: 'Montserrat', sans-serif;
}
#prevwebsite {
  text-align: center;
}
h4 {
  margin: 0;
}
span {
  color: #b30000;
}
.speaker-name {
  color: black;
  font-size: 150%;
}
section {
  padding: 40px 10%;
}
section:nth-child(even) {
  background-color: #f9f9f9;
}
section h1 {
  color: #800000;
  font-family: 'Montserrat', sans-serif;
  font-size: 6vh;
  text-align: center;
}
section p {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 3vh;
}
img {
  height: 200px;
  width: 200px;
}
#title {
  font-family: 'Lato', sans-serif;
  font-size: 250%;
  height: 100%;
  height: 95vh;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 5vh;
}
#shift_logo {
  float: right;
  margin-top: -2%;
}
#speakers {
  font-family: 'Lato', sans-serif;
  height: 100%;
}
.date {
  color: #660000;
}
.organizer-items {
  overflow: hidden; /* simple clearfix */
}
.organizer-items .item {
  float: left;
  text-align: center;
  width: 30%;
  box-sizing: border-box;
  padding: 10px;
}
#speakers table {
  border-collapse: collapse;
}
#speakers th, td {
  padding: 10px;
}
#speakers tr {
  border-top: solid 1px #ddd;
  box-sizing: border-box;
  text-align: left;
}
#speakers tr:nth-child(odd) {
  background-color: #f5f5f5;
}
#speakers tr.active {
  background-color: #ededed;
}
#speakers img {
  height: 100px;
  width: 100px;
}
.speaker-item {
  overflow: hidden; /* simple clearfix */
}
.speaker-item .item {
  box-sizing: border-box;
  float: left;
  padding-right: 10px;
}
.speaker-item .item-left {
  text-align: left;
  width: 80%;
}
.speaker-item .item-right {
  text-align: right;
  /*width: 20%;*/
}

