html, body {
  margin: 0px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  margin: 0 10%;
  margin-left: 10%;
  padding: 10px 0;
  /*margin-right: 10%;
  margin-top: 0px;*/
  /*padding-top: 10px;*/
  /*padding-bottom: 10px;*/
}
h1 a {
  /*text-decoration: none;*/
  color: inherit;
}
#notes {
  font-family: 'Lato', sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 68px;
}
header {
  background-color: #800000;
  color: white;
  height: 68px;
  position: fixed;
  width: 100vw;
}
#notes > ul > li > p {
  color: #800000;
  font-weight: bold;
}
.speaker {
  font-weight: bold;
}
.caption {
  text-align: center;
  font-style: italic;
}
